In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from aikit.datasets.datasets import load_dataset,DatasetEnum
Xtrain, y_train, _ ,_ , _ = load_dataset(DatasetEnum.titanic)

In [3]:
Xtrain.head(20)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [4]:
columns_block = {"CAT":["Sex","Embarked","Cabin"],
                 "NUM":["Pclass","Age","SibSp","Parch","Fare"],
                 "TEXT":["Name","Ticket"]}
columns_block

{'CAT': ['Sex', 'Embarked', 'Cabin'],
 'NUM': ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'],
 'TEXT': ['Name', 'Ticket']}

## Numerical Encoder

In [5]:
from aikit.transformers import NumericalEncoder

encoder = NumericalEncoder(columns_to_use=columns_block["CAT"] + columns_block["NUM"])
Xtrain_cat = encoder.fit_transform(Xtrain)

In [6]:
Xtrain_cat.head()

,Pclass,Age,SibSp,Parch,Fare,Sex__male,Sex__female,Embarked__S,Embarked__C,Embarked__Q,Cabin____null__,Cabin____default__
0,3,22.0,1,0,7.2500,1,0,1,0,0,1,0
1,1,38.0,1,0,71.2833,0,1,0,1,0,0,1
2,3,26.0,0,0,7.9250,0,1,1,0,0,1,0
3,1,35.0,1,0,53.1000,0,1,1,0,0,0,1
4,3,35.0,0,0,8.0500,1,0,1,0,0,1,0

In [7]:
list(Xtrain_cat.columns)

['Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Sex__male',
 'Sex__female',
 'Embarked__S',
 'Embarked__C',
 'Embarked__Q',
 'Cabin____null__',
 'Cabin____default__']

## Target Encoder

In [8]:
from aikit.transformers import TargetEncoderClassifier

encoder = TargetEncoderClassifier(columns_to_use=columns_block["CAT"] + columns_block["NUM"])
Xtrain_cat = encoder.fit_transform(Xtrain, y_train)

Xtrain_cat.head()

,Pclass,Age,SibSp,Parch,Fare,Sex__target_1,Embarked__target_1,Cabin__target_1
0,3,22.0,1,0,7.2500,0.191939,0.338488,0.296417
1,1,38.0,1,0,71.2833,0.739286,0.563758,0.383271
2,3,26.0,0,0,7.9250,0.739286,0.338488,0.296417
3,1,35.0,1,0,53.1000,0.739286,0.338488,0.191635
4,3,35.0,0,0,8.0500,0.191939,0.338488,0.296417

## CountVectorizer

In [9]:
from aikit.transformers import CountVectorizerWrapper

encoder = CountVectorizerWrapper(analyzer="char",columns_to_use=columns_block["TEXT"])

Xtrain_enc = encoder.fit_transform(Xtrain)
Xtrain_enc

<891x64 sparse matrix of type '<class 'numpy.int64'>'
	with 18580 stored elements in COOrdinate format>

In [10]:
encoder.get_feature_names()

['Name__BAG__ ',
 'Name__BAG__"',
 "Name__BAG__'",
 'Name__BAG__(',
 'Name__BAG__)',
 'Name__BAG__,',
 'Name__BAG__-',
 'Name__BAG__.',
 'Name__BAG__/',
 'Name__BAG__a',
 'Name__BAG__b',
 'Name__BAG__c',
 'Name__BAG__d',
 'Name__BAG__e',
 'Name__BAG__f',
 'Name__BAG__g',
 'Name__BAG__h',
 'Name__BAG__i',
 'Name__BAG__j',
 'Name__BAG__k',
 'Name__BAG__l',
 'Name__BAG__m',
 'Name__BAG__n',
 'Name__BAG__o',
 'Name__BAG__p',
 'Name__BAG__q',
 'Name__BAG__r',
 'Name__BAG__s',
 'Name__BAG__t',
 'Name__BAG__u',
 'Name__BAG__v',
 'Name__BAG__w',
 'Name__BAG__x',
 'Name__BAG__y',
 'Name__BAG__z',
 'Ticket__BAG__ ',
 'Ticket__BAG__.',
 'Ticket__BAG__/',
 'Ticket__BAG__0',
 'Ticket__BAG__1',
 'Ticket__BAG__2',
 'Ticket__BAG__3',
 'Ticket__BAG__4',
 'Ticket__BAG__5',
 'Ticket__BAG__6',
 'Ticket__BAG__7',
 'Ticket__BAG__8',
 'Ticket__BAG__9',
 'Ticket__BAG__a',
 'Ticket__BAG__b',
 'Ticket__BAG__c',
 'Ticket__BAG__e',
 'Ticket__BAG__f',
 'Ticket__BAG__h',
 'Ticket__BAG__i',
 'Ticket__BAG__l',
 'Ticket__BAG__n',
 'Ticket__BAG__o',
 'Ticket__BAG__p',
 'Ticket__BAG__q',
 'Ticket__BAG__r',
 'Ticket__BAG__s',
 'Ticket__BAG__t',
 'Ticket__BAG__w']

## Truncated SVD

In [11]:
from aikit.transformers import TruncatedSVDWrapper
svd = TruncatedSVDWrapper(n_components=0.1)

xx_train_small_svd = svd.fit_transform(Xtrain_enc)
xx_train_small_svd

        SVD__0    SVD__1    SVD__2    SVD__3    SVD__4    SVD__5
0     6.307005  1.135132 -1.865083 -1.000043 -0.009663 -0.813813
1    11.395050  1.954998 -0.218903  1.264472 -0.459786  0.870337
2     6.056852 -2.668463  1.203350 -0.649394 -1.839327 -3.440388
3    10.342314  1.680950  4.096514 -0.434390  0.427654  1.483938
4     6.534579 -0.285318  1.444364 -1.613359 -0.990326 -0.875469
5     4.733771 -0.008573 -1.379554 -0.159970  0.374783 -0.318058
6     5.106913  0.816485 -1.685490 -1.525350 -0.780151  1.376742
7     7.746355 -1.383327 -1.126947  2.125266  1.409507  1.502105
8    11.687028 -0.845559  0.579342  1.881817 -0.740808  1.118344
9     9.212568 -0.673691  1.050773  1.429862  1.739496  0.129202
10    7.833261 -0.066017 -0.500252  0.869184  1.111862  1.511534
11    5.836518 -1.074220  2.218775  0.761476 -1.670542 -0.169871
12    7.263502  0.613571  0.119004 -1.501750 -0.905585 -0.631529
13    7.352222 -0.295237 -2.377995  2.485575  1.127939 -1.359327
14    8.967391 -3.290783 -1.122642 -0.467326  2.168742  0.454697
15    7.548455  1.381104  0.332404  0.173098 -0.354817  0.651041
16    5.513487  2.219189  1.879807  1.262756  0.353029 -1.221402
17    7.422250  0.211730  2.623637  0.015647 -0.151071 -0.116292
18   13.759518  0.484282  2.283627  0.203427  1.650834 -0.931508
19    6.195898 -2.731524  0.232818 -0.801744  1.661543  0.009122
20    4.521760  0.938720 -0.643987  1.639388 -1.184253 -0.822073
21    5.496300  2.362034  2.485433  0.957797  0.330701 -0.574198
22    6.770310 -3.355217 -1.437719  1.176105  0.036413 -3.180895
23    6.863520 -0.869435 -0.089179 -0.726999 -2.294992  1.939150
24    7.283851 -2.254663 -2.255088  1.029753  0.197580  1.392682
25   14.061872 -4.392788 -0.681092  1.514906  3.395398  2.654397
26    6.201768  2.767702 -0.214868 -1.638517  0.790865 -0.532672
27    7.657543  2.346695  0.103866  0.263420  1.164707 -0.433230
28    6.904822  0.449567  3.620208  1.492052 -2.171529 -0.374472
29    4.560753  0.230404 -2.000829 -0.956450 -2.110683  2.130618
..         ...       ...       ...       ...       ...       ...
861   6.738559  2.722243  1.407770 -0.808697  0.167109 -0.320514
862  12.427006  3.317059  1.214454  0.213366  0.866084  1.755491
863   7.254040 -0.380829  0.285536  0.943561 -1.245581  2.600270
864   5.436086 -1.652902  0.647344 -2.401085 -2.451458  0.413003
865   5.638168 -0.676176 -1.807014 -0.600806 -0.015554  0.954550
866   7.253492 -1.360908 -1.449314  1.059949 -0.605368 -0.448788
867   8.143493 -2.117022 -0.543266  0.919127 -1.202706  0.556881
868   6.705241  1.540744  2.100242  0.899215 -1.129692 -1.359894
869   7.585489  0.978192 -2.957508  2.244797 -0.668031  1.874111
870   4.317191  0.169665  0.103686 -1.199545 -0.803844 -0.839478
871  11.004132  0.965253  0.764903 -0.509805 -0.665385 -0.018169
872   6.034474 -0.819783 -2.190670  0.949807 -0.235210  1.691666
873   6.548727  1.394840 -0.980975  1.058367  0.153787 -0.043124
874   8.572911 -2.336749 -0.330794  1.250369  0.647259  0.100959
875   7.850046 -2.176702  2.350045  0.300021  0.939062 -1.956563
876   7.102683 -2.172237 -1.046282  2.272259  1.168849  1.424796
877   4.930952  1.952466  0.107018  0.444172 -1.887758 -0.169709
878   4.574817  0.222024  0.043587 -0.850277 -0.896132  0.928244
879  10.870981 -0.798955  0.844156  0.185761 -0.905127  2.151845
880  11.157759 -3.034436  2.587002 -3.222027  0.192018  0.920629
881   4.577684 -0.188580 -2.668361 -0.022764 -0.161500 -1.704948
882   6.767372  0.087332  0.902269 -1.144510  1.633029  0.678657
883   7.260308  1.563558  1.154784 -0.883770  0.022904 -1.591870
884   5.846330  1.462879 -0.053342 -0.603555 -0.427788 -0.415025
885   9.246100  0.432598 -0.880345 -1.620266 -0.303217  0.231740
886   4.821349 -0.661391 -0.728251 -0.166788 -0.670816  0.210566
887   7.535435  0.009702 -0.329015 -1.758613  1.854182  0.107148
888   9.780644  0.598216  0.734676  2.513459 -0.856476 -1.094161
889   5.586969  2.094963  0.276693 -1.925819 -1.100301  0.784520
890   4.461559  0.806632 -0.820622 -0.685513 -0.893118  0.954362

[891 rows x 6 columns]

### Column selector

In [12]:
from aikit.transformers import ColumnsSelector
selector = ColumnsSelector(columns_to_use=columns_block["TEXT"])
Xtrain_subset = selector.fit_transform(Xtrain)
Xtrain_subset.head(10)

                                                Name            Ticket
0                            Braund, Mr. Owen Harris         A/5 21171
1  Cumings, Mrs. John Bradley (Florence Briggs Th...          PC 17599
2                             Heikkinen, Miss. Laina  STON/O2. 3101282
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)            113803
4                           Allen, Mr. William Henry            373450
5                                   Moran, Mr. James            330877
6                            McCarthy, Mr. Timothy J             17463
7                     Palsson, Master. Gosta Leonard            349909
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)            347742
9                Nasser, Mrs. Nicholas (Adele Achem)            237736